@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4f8;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.button-container {
    margin-top: 15px;
    justify-content: center;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border-radius: 10px;
    color: #fff;
    background: #333;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.50);
}

button:hover {
    filter: brightness(120%);
    color: black;
    background-color: whitesmoke;
}

button:active {
    transform: translate(0.2rem, 0.3rem);
}